.Home {
  padding: 2rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

.Recipe-search-home {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Recipe-search-home input {
  padding: 1rem;
  font-size: 1.2rem;
  width: 50%;
  height: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.Recipe-search-home button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: #650000;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  margin: 0;
}

.home-types {
  margin: 8rem 0;
}

@media screen and (max-width: 820px) {
  .Home {
    padding: 1rem;
  }
  .Recipe-search-home {
    width: 100%;
    padding: 0rem;
    margin: 0;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .Recipe-search-home input {
    font-size: 1.5rem;
    padding: 0.8rem;
    width: 80%;
  }

  .Recipe-search-home button {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 25%;
  }
}

@media screen and (max-width: 420px) {
  .Home {
    padding: 0.4rem;
  }
  .Recipe-search-home {
    width: 100%;
    padding: 0rem;
    margin: 0;
    justify-content: space-between;
    gap: 0.2rem;
  }

  .Recipe-search-home input {
    font-size: 1.2rem;
    padding: 0.8rem;
    width: 100%;
  }

  .Recipe-search-home button {
    font-size: 1rem;
    padding: 0.8rem;
    width: 25%;
  }
}
